<div class="container">
  <div id="LogoLabel">
    <p style="font-family: Impact, Charcoal, Helvetica Inserat,
           Bitstream Vera Sans Bold, Arial Black, sans serif;" id="position">B<a id="LetraStyle">o</a>vi<a
        id="LetraStyle">n</a>a I<a id="LetraStyle">n</a>f<a id="LetraStyle">o</a></p>
  </div>

  <form class="p-fluid p-grid p-formgrid" [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
    <ng-container *ngIf="!configs.isSignIn">
      <div class="p-field p-col-12">
        <label id="labelInput">Nome</label>
        <input class="p-inputtext-lg" type="text" placeholder="Digite seu nome" formControlName="name" pInputText>
        <small class="p-error" *ngIf="name.dirty && name.hasError('required')">Nome obrigatorio</small>
        <small class="p-error" *ngIf="name.dirty && name.hasError('minlength')">Minimo 3 caracteres</small>
      </div>
    </ng-container>

    <div class="p-field p-col-12">
      <label id="labelInput">Email</label>
      <input class="p-inputtext-lg" type="email" placeholder="Digite seu email" formControlName="email" pInputText>
      <small class="p-error" *ngIf="email.dirty && email.hasError('required')">Email obrigatorio</small>
      <small class="p-error" *ngIf="email.dirty && email.hasError('email')">Email invalido</small>
    </div>

    <div class="p-field p-col-12">
      <label id="labelInput">Senha</label>
      <input class="p-inputtext-lg" type="password" placeholder="Digite sua senha" formControlName="password"
        pInputText>
      <small class="p-error" *ngIf="password.dirty && password.hasError('required')">Senha obrigatoria</small>
      <small class="p-error" *ngIf="password.dirty && password.hasError('minlength')">Minimo 6 caracteres</small>
    </div>

    <div class="p-field p-col-12">
      <button pButton pRipple id="buttonEntrar" type="submit" class="p-button-Success" label="{{ configs.action }}"
        [disabled]="authForm.invalid"></button>
    </div>

    <div class="p-field p-col-12">
      <button pButton pRipple type="button" class="p-button-Success" label="{{ configs.actionChange }}"
        (click)="changeAuthAction()"></button>
    </div>

    <div class="p-field p-col-12">
      <button pButton pRipple (click)="onSubmit(authProviders.Facebook)" type="button" class="p-button-Success"
        icon="pi pi-facebook" label="Entrar com Facebook"></button>
    </div>
  </form>
</div>
