<div class="container">
  <div id="LogoLabel">
    <p style="font-family: Impact, Charcoal, Helvetica Inserat,
           Bitstream Vera Sans Bold, Arial Black, sans serif;" id="position">B<a id="LetraStyle">o</a>vi<a
        id="LetraStyle">n</a>a I<a id="LetraStyle">n</a>f<a id="LetraStyle">o</a></p>
  </div>

  <div class="p-fluid p-grid p-formgrid" id="container">
    <div class="p-field p-col-12">
      <label id="labelInput">Email</label>
      <input class="p-inputtext-lg" type="text" placeholder="Digite seu email" pInputText>
    </div>

    <div class="p-field p-col-12">
      <label id="labelInput">Senha</label>
      <input class="p-inputtext-lg" type="text" placeholder="Digite sua senha" pInputText>
    </div>
  </div>
</div>
