#LogoLabel {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    2px 2px 1px #000000, 2px 4px 1px #000000, 1px 1px 1px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(0, 0, 0, 0.4);
}

#LetraStyle {
  color: rgb(128, 231, 24);
}

#labelInput {
  color: rgb(235, 235, 235);
  font-size: 20px;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
}

#buttonEntrar {
  margin-top: 3%;
}
