<ion-app>
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button routerLink="/pessoas" routerDirection="back">
          <ion-icon slot="start" name="person-sharp"></ion-icon>
          <ion-label>Pessoas</ion-label>
        </ion-item>
        <ion-item button routerLink="/pessoas/create" routerDirection="forward">
          <ion-icon slot="start" name="person-add-sharp"></ion-icon>
          <ion-label>Cadastro de Pessoa</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
