<ion-content class="ion-padding" id="meio">
  <div id="LogoLabel">
    <p style="font-family: Impact, Charcoal, Helvetica Inserat,
             Bitstream Vera Sans Bold, Arial Black, sans serif;">B<a id="LetraStyle">o</a>vi<a id="LetraStyle">n</a>a
      I<a id="LetraStyle">n</a>f<a id="LetraStyle">o</a></p>
  </div>

  <div id="container">
    <ion-item id="inputEmail">
      <ion-icon name='mail' color='success' slot='start'></ion-icon>
      <ion-input type='email' placeholder='Email' inputmode="email" autofocus='true'></ion-input>
    </ion-item>
    <ion-item id="inputClosed">
      <ion-icon name='lock-closed' color='success' slot='start'></ion-icon>
      <ion-input type='password' placeholder='Senha'></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-padding" id="rodape">
  <ion-button expand='block' id="buttons" color='success'>Entrar</ion-button>
  <ion-button expand='block' fill='clear' id="buttons">
    <p id="StyleNewAccont">Criar uma nova conta
    <p>
  </ion-button>
  <ion-button expand='block' color='success'>
    <ion-icon name='logo-facebook' slot="start"></ion-icon>
    Entrar com o Facebook
  </ion-button>
</ion-footer>
