<div class="row" id="Title">
    <h1><i id="IconTitle" class="pi pi-pencil"></i>Registro da Produção</h1>
</div>

<div class="p-fluid p-grid p-formgrid" id="Inputs">
    <div class="p-field p-col-12 p-sm-6 p-md-6">
        <label id="labelInput">Funcionario</label>
        <p-dropdown placeholder="Selecione o funcionario" [showClear]="true"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-sm-3 p-md-3">
        <label id="labelInput">Temperatura</label>
        <p-inputNumber inputId="temperatura" suffix="℃" [min]="0" [max]="55"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-sm-3 p-md-3">
        <label id="labelInput">Umidade</label>
        <p-inputNumber inputId="umidade" suffix="%" [min]="0" [max]="100"></p-inputNumber>
    </div>
</div>

<p id="labelInput">Data da produção</p>
<p-calendar id="calendario" [inline]="true" [locale]="calendarioBr"></p-calendar>

<div class="row" id="buttons">
    <button pButton pRipple id="buttonLimpar" type="button" label="Limpar" class="p-button-danger" icon="pi pi-trash" iconPos="left"></button>
    <button pButton pRipple type="button" label="Salvar" class="p-button-sucess" icon="pi pi-check" iconPos="left"></button>    
</div>