<div class="col-12 text-center">
    <h2 class="display-5" id="Titulo"><i class="fa fa-user"></i>Emissão de Funcionario</h2>
</div>

<div class="container" style="margin-top: 70px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>CEP</th>
                <th>Rua</th>
                <th>Complemento</th>
                <th>Logradouro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let funcionario of funcionarios">
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.data_nascimento }}</td>
                <td>{{ funcionario.telefone }}</td>
                <td>{{ funcionario.endereco.cep }}</td>
                <td>{{ funcionario.endereco.rua }}</td>
                <td>{{ funcionario.endereco.complemento }}</td>
                <td>{{ funcionario.endereco.logradouro }}</td>                
            </tr>
        </tbody>
    </table>
</div>
