
#labelName {
  border-radius: 2rem;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
}

#inputs {
  border-radius: 2rem;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

#button {
  padding-bottom: 3%;
  border-radius: 2rem;
}
