<div class="row" id="Title">
    <h1><i id="IconTitle" class="pi pi-chart-line"></i>Produção</h1>
</div>

<div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-12 p-sm-4 p-md-4" id="Input">
        <label id="labelInput">Registro</label>
        <p-dropdown placeholder="Selecione o Registro" [showClear]="true"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-sm-4 p-md-4" id="Input">
        <label id="labelInput">Animal</label>
        <p-dropdown placeholder="Selecione o Animal" [showClear]="true"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-sm-4 p-md-4" id="Input">
        <label id="labelInput">Quantidade de Leite</label>
        <p-inputNumber></p-inputNumber>
    </div>
</div>

<div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-12 p-sm-4 p-md-4">
        <label id="labelInput">Inicio</label>
        <p-calendar [timeOnly]="true"></p-calendar>
    </div>
    <div class="p-field p-col-12 p-sm-4 p-md-4">
        <label id="labelInput">Fim</label>
        <p-calendar [timeOnly]="true"></p-calendar>
    </div>
    <div class="p-field p-col-12 p-sm-4 p-md-4">
        <label id="labelInput">Peso</label>
        <p-inputNumber suffix="Kg"></p-inputNumber>
    </div>
</div>

<p id="InputNota">Nota do Animal</p>
<p-rating></p-rating>


<p id="InputAnexos">Observações</p>
<p-editor [style]="{'height':'320px'}"></p-editor>

<div class="row" id="buttons">
    <button pButton pRipple id="buttonLimpar" type="button" label="Limpar" class="p-button-danger" icon="pi pi-trash" iconPos="left"></button>
    <button pButton pRipple type="button" label="Salvar" class="p-button-sucess" icon="pi pi-check" iconPos="left"></button>    
</div>