<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Patrimônios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="labelName">
    <ion-label position="floating">Nome da Fazenda</ion-label>
    <ion-input placeholder="Digite o nome da Propriedade" [(ngModel)]="patrimonio.nome_fazenda"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tamanho da Propriedade</ion-label>
    <ion-input placeholder="Informe o tamanho do Patrimônio" [(ngModel)]="patrimonio.tamanho_alqueire"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input placeholder="Digite o CEP da propriedade" [(ngModel)]="patrimonio.endereco.cep"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input placeholder="Informe endereço da propriedade" [(ngModel)]="patrimonio.endereco.logradouro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Proprietário</ion-label>
    <ion-input placeholder="Informe o Proprietário" [(ngModel)]="pessoa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Complemento</ion-label>
    <ion-input placeholder="Digite seu complemento" [(ngModel)]="patrimonio.endereco.complemento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input placeholder="Digite seu número" [(ngModel)]="patrimonio.endereco.numero"></ion-input>
  </ion-item>
</ion-content>

<div id="button">
  <ion-button color="danger" style="padding-right: 2%;" (click)="apagarFormulario()">Apagar</ion-button>
  <ion-button color="success" (click)="setPatrimonio()">Salvar</ion-button>
</div>
