<ion-header>
  <ion-toolbar color="success">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title>Home</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>

  <ion-slides [options]="{ autoplay: {delay: 2500} }" id="slides">
    <ion-slide>
      <div class="container">
        <img id="image"
          src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/1.png?alt=media&token=b469771a-fee2-4b25-8e14-0482ac79bb03" />
      </div>
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/Bovina%20info%20web.png?alt=media&token=a11a1d09-c155-4845-b2de-3c527f445efd" />
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/Bovina%20info%20mobile.png?alt=media&token=6fbddf42-b538-44fa-9d4d-1bd41064f0f8" />
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size=3>
        <ion-icon name="ribbon-outline" id="iconQuemSomos"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <h1 style="color: green;">Quem somos</h1>
        </ion-row>
        <ion-row>
          Nos somos uma fintech desenvolvida na faculdade SENAI FATESG em 2020 para criar um sistema de gestão rural
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row id="RowObjetivos">
      <ion-col size=3>
        <ion-icon name="disc-outline" id="iconObjetivos"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <h1 style="color: green;">Objetivos</h1>
        </ion-row>
        <ion-row>
          Temos como objetivo automatizar o processo de produção rural na rotina das fazendas
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row id="RowValores">
      <ion-col size=3>
        <ion-icon name="bulb-outline" id="iconObjetivos"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <h1 style="color: green;">Valores</h1>
        </ion-row>
        <ion-row>
          Inovação, Ética, Empatia, Profissionalismo, Comprometimento e Respeito aos nossos clientes
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
