<ion-header>
  <ion-toolbar color="success">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title>Home</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>

  <ion-slides [options]="{ autoplay: {delay: 1500} }">
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/jersey_21716.jpg?alt=media&token=fce19248-14da-4bb3-bed7-b17e477c46ba" />
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/jersey_21716.jpg?alt=media&token=fce19248-14da-4bb3-bed7-b17e477c46ba" />
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/jersey_21716.jpg?alt=media&token=fce19248-14da-4bb3-bed7-b17e477c46ba" />
    </ion-slide>
  </ion-slides>
</ion-header>
