#iconQuemSomos {
  font-size: 70px;
  margin-top: 30%;
  color: green;
}

#iconObjetivos {
  font-size: 70px;
  margin-top: 25%;
  color: green;
}

#RowObjetivos {
  margin-top: 5%;
}

#RowValores {
  margin-top: 5%;
}
