<ion-header>
  <ion-toolbar color="success">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title>Home</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>

  <ion-slides [options]="{ autoplay: {delay: 2500} }" id="slides">
    <ion-slide>
      <div class="container">
        <img id="image"
          src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/seja%20bem%20vindo.png?alt=media&token=fd52bc72-86ad-415b-89ac-2f5866f82e4c" />
      </div>
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/Bovina%20info%20web.png?alt=media&token=a11a1d09-c155-4845-b2de-3c527f445efd" />
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/bovinainfo-aplication.appspot.com/o/Bovina%20info%20mobile.png?alt=media&token=6fbddf42-b538-44fa-9d4d-1bd41064f0f8" />
    </ion-slide>
  </ion-slides>
</ion-header>
