#Title {
    color: rgb(219, 219, 219);
    text-align: center;    
}

#IconTitle {
    font-size: 1.5rem;
    margin-right: 11px;
    color: rgb(50, 255, 50);
}

#labelInput {
    color: rgb(235, 235, 235);
}