.fa-user {
    color: rgb(95, 182, 95);
    margin-right: 0.6rem;
  }

.btn {
    margin-top: 25px;
    margin-bottom: 40px;
}

  #Titulo {
    margin-top: 5.50rem  !important; 
  }

  #labelBase {
      margin-top: 15px;
  }

  