<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label (click)="navtigateToPage('pessoas')">Cadastro de Pessoas</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label (click)="navtigateToPage('patrimonios')">Cadastro de Patrimonios</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="row" id="LogoLabel">
          <p style="font-family: Impact, Charcoal, Helvetica Inserat, 
          Bitstream Vera Sans Bold, Arial Black, sans serif;">B<a id="LetraStyle">o</a>vi<a id="LetraStyle">n</a>a I<a
              id="LetraStyle">n</a>f<a id="LetraStyle">o</a></p>
        </div>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-app>