<ion-header>
  <ion-toolbar color="success">
    <ion-title>Cadastro de Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="labelName">
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Digite seu nome"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">CPF</ion-label>
    <ion-input placeholder="Digite seu CPF"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">Data de Nascimento</ion-label>
    <ion-input placeholder="Digite sua Data de Nascimento"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input placeholder="Digite seu E-Mail"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input placeholder="Digite seu Telefone"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">CEP</ion-label>
    <ion-input placeholder="Digite seu CEP"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">Logradouro</ion-label>
    <ion-input placeholder="Digite seu logradouro"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">Complemento</ion-label>
    <ion-input placeholder="Digite seu complemento"></ion-input>
  </ion-item>
  <ion-item id="inputs">
    <ion-label position="floating">Numero</ion-label>
    <ion-input placeholder="Digite seu numero"></ion-input>
  </ion-item>
</ion-content>

<div id="button">
  <ion-button color="success" expand="block">
    Salvar
  </ion-button>
  <ion-button color="danger" expand="block">
    Limpar
  </ion-button>
</div>
