
#LogoLabel {
    font-size: 1.5rem;  
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 22px;    
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000,
    1px 2px 1px #000000,
    1px 3px 1px #000000,
    2px 2px 1px #000000, 
    2px 4px 1px #000000,   
    1px 1px 1px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(0, 0, 0, 0.4)    
}

#LetraStyle {
    color: rgb(128, 231, 24);
}

.row {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;  
}