<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registros"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroForm">
    <ion-list *ngIf="(pessoas$ | async) as pessoas" id="labelName">
      <ng-container *ngIf="pessoas.length > 0; else noPessoas">
        <ion-item>
          <ion-label position="floating">Funcionario</ion-label>
          <ion-select placeholder="Selecione o funcionario" name="funcionario" formControlName="funcionario">
            <ion-select-option *ngFor="let pessoa of pessoas">{{
              pessoa.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
      <ng-template #noPessoas>
        <ion-item>
          <ion-label position="floating">Funcionario</ion-label>
          <ion-select placeholder="Selecione o funcionario"></ion-select>
        </ion-item>
        <ion-item>
          <ion-button color="success" fill="outline" routerLink="/pessoas/create/registro" routerDirection="forward">
            Cadastrar
          </ion-button>
        </ion-item>
      </ng-template>
    </ion-list>
    <ion-item id="inputs">
      <ion-label position="floating">Temperatura</ion-label>
      <ion-input placeholder="Digite a Temperatura" formControlName="temperatura"></ion-input>
    </ion-item>
    <ion-item id="inputs">
      <ion-label position="floating">Umidade</ion-label>
      <ion-input placeholder="Digite a Umidade" formControlName="umidade"></ion-input>
    </ion-item>
    <ion-item id="inputs">
      <ion-label position="floating">Data da Produção</ion-label>
      <ion-input placeholder="Digite a data da produção" formControlName="dataProducao"></ion-input>
    </ion-item>
  </form>
</ion-content>

<div id="button">
  <ion-button color="success" expand="block" [disabled]='registroForm.invalid' (click)="onSubmit()">
    Salvar
  </ion-button>
  <ion-button color="danger" expand="block">
    Limpar
  </ion-button>
</div>
